<div class='iw-title'>
  Grid Point Details (<%= @latitude %>&deg;N, <%= @longitude %>&deg;W)
</div>

<div id='iw-content'>
  <h3 class="weather-details-title"><%= @pest.name %></h3>
  <div class="information">
    <div><strong>Start date:</strong> <%= @weather[:date].min() %></div>
    <div><strong>End date:</strong> <%= @weather[:date].max() %></div>
    <% if @weather %>
      <div><strong>DSV total for selected dates:</strong> <%= @weather.inject(0) { |sum, h| sum += h[:value]}.round(1) %></div>
    <% end %>
  </div>
  <div class="weather-details">
    <% if @weather %>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              DSV <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Cumulative DSV <div class="info-icon">?</div>
            </th>
            <th>Min Temp.</th>
            <th>Max Temp.</th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="High temperatures during periods of high relative humidity (RH) contribute to disease progression.">
              Mean Temp. (RH > 90%) <div class="info-icon">?</div>
            </th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="Longer daily periods of high relative humidity (RH) contribute to disease progression.">
              Hours RH > 90% <div class="info-icon">?</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @weather.each do |day| %>
            <tr>
              <td class="odd"><%= day[:date] %></td>
              <td><%= day[:value] %></td>
              <td class= "odd"><%= day[:cumulative_value] %></td>
              <td><%= day[:min_temp] %>&deg;C</td>
              <td class="odd"><%= day[:max_temp] %>&deg;C</td>
              <td><%= day[:avg_temp_hi_rh].to_f.round(1) %>&deg;C</td>
              <td class="odd"><%= day[:hours_hi_rh] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p style="text-align: center;">No data to display.</p>
    <% end %>
  </div>
</div>
