<div class='iw-title'>
  Data Point Information
</div>

<div id='iw-content'>
  <div class="information">
    <div><strong>Latitude</strong>: <%= @latitude %></div>
    <div><strong>Longitude</strong>: <%= @longitude %></div>
  </div>

  <h3 class="weather-details-title">Weather Summary</h3>
  <div class="weather-details">
    <% if @weather %>
      <table>
        <thead>
          <tr>
            <th width='35%'>Day</th>
            <th>DSV <span class="weather-details-dsv more-information" title="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">?</span></th>
            <th>Mean temp.</th>
            <th>
              Hours over RH <span class="weather-details-rh more-information" title="Relative humidity is a measure of how much water vapor (%) is in the air compared to complete saturation (100%) at a given temperature.">?</span> threshold
            </th>
          </tr>
        </thead>
        <tbody>
          <% @weather.each do |day| %>
            <tr>
              <td class="odd"><%= day["date"] %></td>
              <td><%= day["dsv"] %></td>
              <td class="odd"><%= day["avg_temperature"].to_f.round(1) %>&deg;C</td>
              <td><%= day["hours_over"] %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th>Total:</th>
            <td colspan="3"><strong>
              <%= @weather.inject(0) { |sum, h| sum += h['dsv']} %></strong></td>
          </tr>


        </tfoot>
      </table>
    <% else %>
      <p style="text-align: center;">No data to display.</p>
    <% end %>
  </div>
</div>
