<div class='iw-title'>
  Grid Point Details (<%= @latitude %>&deg;N, <%= @longitude %>&deg;W)
</div>

<div id='iw-content'>
  <h3 class="weather-details-title">Weather Summary - <%= @pest.name %></h3>
  <% if @weather %>
    <div class="information" style="padding-bottom: 1em;">
      <div>
        <strong>Date range:</strong> <%= @weather.first[:date] %> to <%= @weather.last[:date] %> (<%= @weather.count %> days)
      </div>
      <div>
        <strong>P-Day total:</strong> <%= @weather.inject(0) { |sum, h| sum += h[:value] }.round(1) %>
        <br>
        <strong>7-day average:</strong> <%= ((@weather.last(7).inject(0) { |sum, h| sum += h[:value] }) / @weather.last(7).size).round(1) %>
      </div>
    </div>
    <div class="weather-details">
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Mean Temp.</th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="Longer daily periods of high relative humidity contribute to disease progression.">
              Hours High RH <div class="info-icon">?</div>
            </th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="High temperatures during periods of high relative humidity contribute to disease progression.">
              Mean Temp. (High RH) <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down-right" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Daily P-Days <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down-right" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Cumulative P-Days <div class="info-icon">?</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @weather.each do |day| %>
            <tr>
              <td class="odd"><%= day[:date] %></td>
              <td><%= convert_temp(day[:avg_temperature]) %>&deg;<%= temp_symbol() %></td>
              <td class="odd"><%= day[:hours_hi_rh] %></td>
              <td><%= convert_temp(day[:avg_temp_hi_rh].to_f.round(1)) %>&deg;<%= temp_symbol() %></td>
              <td class="odd"><%= day[:value] %></td>
              <td><%= day[:cumulative_value] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p style="text-align: center;">No data to display.</p>
  <% end %>
</div>
