<div class='iw-title'>
  Grid Point Details (<%= @latitude %>&deg;N, <%= @longitude %>&deg;W)
</div>

<div id='iw-content'>
  <h3 class="weather-details-title"><%= @pest.name %></h3>
  <% if @data.size > 0 %>
    <div class="information" style="padding-bottom: 1em;">
      <div>
        <b>Current season:</b> <%= "#{@data.first[:date].strftime('%b %-d')} to #{@data.last[:date].strftime('%b %-d, %Y')} (#{@data.size} days)" %>
        <% total = @data.last[:cumulative_value] %><br>
        <b>Season total DSVs:</b> <%= total.round(1) %><br>
        <br>
        <b>Selected dates:</b> <%= "#{@selected.first[:date].strftime('%b %-d')} to #{@selected.last[:date].strftime('%b %-d')} (#{@selected.size} days)" %><br>
        <b>Selected total DSVs:</b> <%= @selected.inject(0) { |sum, h| sum += h[:value] } %><br>
        
        <% if @data.size >= 14 %>
          <% total = @data.last(14).inject(0) { |sum, h| sum += h[:value] } %>
          <br><b>14-day total:</b> <%= total.round(1) %>
          <% if total > 0 %>
            &nbsp;<span style="font-size: smaller">(<%= (total / 14.0).round(1) %> / day)</span>
          <% end %>
        <% end %>
        <% if @data.size >= 7 %>
          <% total = @data.last(7).inject(0) { |sum, h| sum += h[:value] } %>
          <br><b>7-day total:</b> <%= total.round(1) %>
          <% if total > 0 %>
            &nbsp;<span style="font-size: smaller">(<%= (total / 7.0).round(1) %> / day)</span>
          <% end %>
        <% end %>
        <% if @data.size >= 2 %>
          <% total = @data.last(2).inject(0) { |sum, h| sum += h[:value] } %>
          <br><b>2-day total:</b> <%= total.round(1) %>
          <% if total > 0 %>
            &nbsp;<span style="font-size: smaller">(<%= (total / 2.0).round(1) %> / day)</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="weather-details">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Mean Temp.</th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="Longer daily periods of high relative humidity contribute to disease progression.">
              Hours High RH <div class="info-icon">?</div>
            </th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="High temperatures during periods of high relative humidity contribute to disease progression.">
              Mean Temp. (High RH) <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down-right" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Daily DSV <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down-right" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Cumulative DSV <div class="info-icon">?</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @data.reverse.each do |day| %>
            <tr>
              <td class="odd"><%= day[:date] %></td>
              <td><%= convert_temp(day[:avg_temp]).round(1) %>&deg;<%= temp_symbol() %></td>
              <td class="odd"><%= day[:hours_hi_rh] %></td>
              <% if day[:hours_hi_rh] == 0 %>
                <td>-</td>
              <% else %>
                <td><%= convert_temp(day[:avg_temp_hi_rh]).round(1) %>&deg;<%= temp_symbol() %></td>
              <% end %>
              <td class="odd"><%= day[:value] %></td>
              <td><%= day[:cumulative_value] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p style="text-align: center;">No data to display.</p>
  <% end %>
</div>
