<div class='iw-title'>
  Grid Point Details (<%= @latitude %>&deg;N, <%= @longitude %>&deg;W)
</div>

<div id='iw-content'>
  <h3 class="weather-details-title">Weather Summary - <%= @pest.name %></h3>
  <% if @weather %>
    <div class="information" style="padding-bottom: 1em;">
      <div>
        <b>Date range:</b> <%= @weather.first[:date] %> to <%= @weather.last[:date] %> (<%= @weather.count %> days)
        <br><b>DSV total:</b> <%= @weather.inject(0) { |sum, h| sum += h[:value]}.round(1) %>
        <% if @weather.size >= 14 %>
          <br><b>14-day average:</b> <%= ((@weather.last(14).inject(0) { |sum, h| sum += h[:value] }) / 14.0).round(1) %>
        <% end %>
        <% if @weather.size >= 7 %>
          <br><b>7-day average:</b> <%= ((@weather.last(7).inject(0) { |sum, h| sum += h[:value] }) / 7.0).round(1) %>
        <% end %>
        <% if @weather.size >= 2 %>
          <br><b>2-day average:</b> <%= ((@weather.last(2).inject(0) { |sum, h| sum += h[:value] }) / 2.0).round(1) %>
        <% end %>
      </div>
    </div>
    <div class="weather-details">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Mean Temp.</th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="Longer daily periods of high relative humidity contribute to disease progression.">
              Hours High RH <div class="info-icon">?</div>
            </th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="High temperatures during periods of high relative humidity contribute to disease progression.">
              Mean Temp. (High RH) <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down-right" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Daily DSV <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down-right" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">
              Cumulative DSV <div class="info-icon">?</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @weather.each do |day| %>
            <tr>
              <td class="odd"><%= day[:date] %></td>
              <td><%= convert_temp(day[:avg_temp]) %>&deg;<%= temp_symbol() %></td>
              <td class="odd"><%= day[:hours_hi_rh] %></td>
              <% if day[:hours_hi_rh] == 0 %>
                <td>-</td>
              <% else %>
                <td><%= convert_temp(day[:avg_temp_hi_rh].to_f.round(1)) %>&deg;<%= temp_symbol() %></td>
              <% end %>
              <td class="odd"><%= day[:value] %></td>
              <td><%= day[:cumulative_value] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p style="text-align: center;">No data to display.</p>
  <% end %>
</div>
