<div class='iw-title'>
  Grid Point Details (<%= @latitude %>&deg;N, <%= @longitude %>&deg;W)
</div>

<div id='iw-content'>
  <h3 class="weather-details-title"><%= @model_value %> (<%= @t_min %>/<%= @t_max %> &deg;<%= temp_symbol() %>)</h3>
  <% if @weather %>
    <div class="information" style="padding-bottom: 1em;">
      <div>
        <b>Date range:</b> <%= @weather.first[:date] %> to <%= @weather.last[:date] %> (<%= @weather.count %> days)
        <b>Degree-day total:</b> <%= @weather.inject(0) { |sum, h| sum += h[:value]}.round(1) %>
        <% if @weather.size >= 14 %>
          <br><b>14-day average:</b> <%= ((@weather.last(14).inject(0) { |sum, h| sum += h[:value] }) / 14.0).round(1) %>
        <% end %>
        <% if @weather.size >= 7 %>
          <br><b>7-day average:</b> <%= ((@weather.last(7).inject(0) { |sum, h| sum += h[:value] }) / 7.0).round(1) %>
        <% end %>
        <% if @weather.size >= 2 %>
          <br><b>2-day average:</b> <%= ((@weather.last(2).inject(0) { |sum, h| sum += h[:value] }) / 2.0).round(1) %>
        <% end %>
      </div>
    </div>
    <div class="weather-details">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Min Temp.</th>
            <th>Max Temp.</th>
            <th class="weather-details-dsv" data-balloon-length="small" data-balloon-pos="down" aria-label="Degree-days quantify the amount of heat energy generated each day that contributes to insect development.">
              Degree Days <div class="info-icon">?</div>
            </th>
            <th class="weather-details-dsv" data-balloon-length="small" data-balloon-pos="down" aria-label="Accumulated degree-day values can be used to estimate insect development.">
              Cumulative Degree Days <div class="info-icon">?</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @weather.each do |day| %>
            <tr>
              <td class="odd"><%= day[:date] %></td>
              <td><%= convert_temp(day[:min_temp]) %>&deg;<%= temp_symbol() %></td>
              <td class="odd"><%= convert_temp(day[:max_temp]) %>&deg;<%= temp_symbol() %></td>
              <td><%= day[:value] %></td>
              <td class="odd"><%= day[:cumulative_value] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p style="text-align: center;">No data to display.</p>
  <% end %>
</div>
