<div class='iw-title'>
  Data Point Information
</div>

<div id='iw-content'>
  <div class="information">
    <div><strong>Latitude</strong>: <%= @latitude %></div>
    <div><strong>Longitude</strong>: <%= @longitude %></div>
  </div>

  <h3 class="weather-details-title">Weather Summary - <%= @pest.name %></h3>
  <div class="weather-details">
    <% if @weather %>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th class="weather-details-dsv" data-balloon-length="medium" data-balloon-pos="down" aria-label="Disease Severity Values are calculated by using temperature and leaf wetness (or relative humidity) duration (hours). Values range from 0-4. Accumulation of threshold DSV levels trigger fungicide/pesticide applications.">DSV <div class="info-icon">?</div></th>
            <th> Cumulative DSV</th>
            <th>Min Temp.</th>
            <th>Max Temp.</th>
            <th>Mean Temp. (RH > 85%)</th>
            <th class="weather-details-rh" data-balloon-length="medium" data-balloon-pos="down" aria-label="Relative humidity is a measure of how much water vapor (%) is in the air compared to complete saturation (100%) at a given temperature.">
              Hours over RH threshold<div class="info-icon">?</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @weather.each do |day| %>
            <tr>
              <td class="odd"><%= day[:date] %></td>
              <td><%= day[:value] %></td>
              <td class= "odd"><%= day[:cumulative_value] %></td>
              <td><%= day[:min_temp] %>&deg;C</td>
              <td class="odd"><%= day[:max_temp] %>&deg;C</td>
              <td><%= day[:avg_temp_over_85].to_f.round(1) %>&deg;C</td>
              <td class="odd"><%= day[:hours_over] %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th>Total:</th>
            <td colspan="3"><strong>
              <%= @weather.inject(0) { |sum, h| sum += h[:value]}.round(1) %></strong></td>
          </tr>


        </tfoot>
      </table>
    <% else %>
      <p style="text-align: center;">No data to display.</p>
    <% end %>
  </div>
</div>
