<div class="information" style="padding-bottom: 1em;">
  <div>
    <% if @season_data %>
      <b>Current season:</b> <%= "#{@season_data.first[:date].strftime('%b %-d')} to #{@season_data.last[:date].strftime('%b %-d, %Y')} (#{@season_data.size} days)" %><br>
      <b>Season total <%= @dsv_units %>:</b> <%= @season_data.last[:cumulative_value]&.round(1) %><br>
      <br>
    <% end %>
    <b>Selected dates:</b> <%= "#{@data.first[:date].strftime('%b %-d')} to #{@data.last[:date].strftime('%b %-d')} (#{@data.size} days)" %><br>
    <b>Selected total <%= @dsv_units %>:</b> <%= sprintf("%.1f", get_total(@data)) %><br>
    
    <% if @data.size >= 14 %>
      <% total = get_total(@data.last(14)); avg = (total / 14.0).round(1) %>
      <br><b>14-day total:</b> <%= sprintf("%.1f", total) %> <span style="font-size: smaller">(<%= avg %> / day)</span>
    <% end %>
    <% if @data.size >= 7 %>
      <% total = get_total(@data.last(7)); avg = (total / 7.0).round(1) %>
      <br><b>7-day total:</b> <%= sprintf("%.1f", total) %> <span style="font-size: smaller">(<%= avg %> / day)</span>
    <% end %>
    <% if @data.size >= 2 %>
      <% total = get_total(@data.last(2)); avg = (total / 2.0).round(1) %>
      <br><b>2-day total:</b> <%= sprintf("%.1f", total) %> <span style="font-size: smaller">(<%= avg %> / day)</span>
    <% end %>
  </div>
</div>
