<h3 class="weather-details-title">
  <%= @pest.name || "Degree day model" %> (<%= @base %>/<%= @upper || "None" %> &deg;<%= @units %>)
</h3>

<div class="information" style="padding-bottom: 1em;">
  <div>
    <b>Date range:</b> <%= @data.first[:date] %> to <%= @data.last[:date] %> (<%= @data.count %> days)
    <br>
    <b>Degree day total:</b> <%= @data.last[:cumulative_value]&.round(1) %> <span style="font-size: smaller"><%= @units %>DD</span>
    <% if @data.size >= 14 %>
      <% avg = (get_total(@data.last(14)) / 14.0).round(1) %>
      <br><b>14-day average:</b> <%= avg %> <span style="font-size: smaller"><%= @units %>DD / day</span>
    <% end %>
    <% if @data.size >= 7 %>
      <% avg = (get_total(@data.last(7)) / 7.0).round(1) %>
      <br><b>7-day average:</b> <%= avg %> <span style="font-size: smaller"><%= @units %>DD / day</span>
    <% end %>
    <% if @data.size >= 2 %>
      <% avg = (get_total(@data.last(2)) / 2.0).round(1) %>
      <br><b>2-day average:</b> <%= avg %> <span style="font-size: smaller"><%= @units %>DD / day</span>
    <% end %>
    <% if @severity_col %>
      <br><br><b>Most recent estimate:</b> <%= @data.last[:severity_info] %>
    <% end %>
  </div>
</div>

<div class="weather-details">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th class="tippy-tooltip" data-tippy-content="Minimum daily air temperature">Min Temp.</th>
        <th class="tippy-tooltip" data-tippy-content="Maximum daily air temperature">Max Temp.</th>
        <th class="tippy-tooltip" data-tippy-content="Degree-days quantify the amount of heat energy generated each day that contributes to insect development.">Degree Days</th>
        <th class="tippy-tooltip" data-tippy-content="Accumulated degree-day values can be used to estimate insect development.">Cumulative Degree Days</th>
        <% if @severity_col %>
          <th class="tippy-tooltip" data-tippy-content="Predicted insect damage risk on date">Risk</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.reverse.each do |day| %>
        <tr>
          <th class="odd"><%= day[:date] %></th>
          <td><%= day[:min_temp]&.round(1) %>&deg;<%= @units %></td>
          <td class="odd"><%= day[:max_temp]&.round(1) %>&deg;<%= @units %></td>
          <td><%= day[:value].round(2) %></td>
          <td class="odd"><%= day[:cumulative_value]&.round(1) %></td>
          <% if @severity_col %>
            <td class="<%= day[:severity_class] %> tippy-tooltip" data-tippy-content="<%= day[:severity_info] %>"><%= day[:severity] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
