<h3 class="weather-details-title"><%= @pest.name %></h3>

<%= render partial: "dsv_totals" %>

<div class="weather-details">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th class="tippy-tooltip" data-tippy-content="Minimum daily air temperature">Min Temp.</th>
        <th class="tippy-tooltip" data-tippy-content="Maximum daily air temperature">Max Temp.</th>
        <th class="tippy-tooltip" data-tippy-content="P-days (or physiological days) quantify the amount of heat energy generated each day that contributes to disease development.">Daily P-Days</th>
        <th class="tippy-tooltip" data-tippy-content="The accumulation of daily P-Days in a season can be used to predict the onset of early blight risk.">Cumulative P-Days</th>
      </tr>
    </thead>
    <tbody>
      <% @data.reverse.each do |day| %>
        <tr>
          <td class="odd"><%= day[:date] %></td>
          <td><%= sprintf("%.1f°%s", day[:min_temp], @units) %></td>
          <td class="odd"><%= sprintf("%.1f°%s", day[:max_temp], @units) %></td>
          <td><%= sprintf("%.2f", day[:value]) %></td>
          <td class="odd"><%= sprintf("%.1f", day[:cumulative_value]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
