  <fieldset id="crop">
    <legend>Model Selection</legend>
    <div id="crop-select-wrapper">
      <label for="crop-select">Crop</label>
      <select id="crop-select">
        <% @crops.each do |crop| %>
          <option value="<%= crop.id %>"><%= crop.name %></option>
        <% end %>
      </select>
    </div>
    <div class="clear"></div>
    <% @crops.each do |crop| %>
      <div id="select-<%= crop.id %>" class="select-wrapper infliction">
        <label for="infliction-select-<%= crop.id %>">Disease</label>
        <select class="infliction-select" id="pest-select-<%= crop.id %>">
          <% crop.diseases.each do |pest| %>
            <option value="<%= pest.id %>"><%= pest.name %></option>
          <% end %>
        </select>
        <span class="more-information" title="" id="infliction-select-information"  data-tooltip="this is info">?</span>
      </div>
    <% end %>
  </fieldset>
  <fieldset id="datepicker">
    <legend id="datepicker-legend">Model Parameters</legend>
    <label for='datepicker-start'>
      Date of Emergence/Last Pesticide Application
    </label>
    <div class="select-wrapper" id="datepicker-start-wrapper">
      <input type="text" class="datepicker" id="datepicker-start">
      <span class="more-information" id="datepicker-start-information" title='' data-tooltip="Date of Emergence/Last Fungicide Application">?</span>
    </div>
    <label for='datepicker-end'>End Date</label>
    <div class="select-wrapper" id="datepicker-end-wrapper">
      <input type="text" class="datepicker" id="datepicker-end">
      <span class="more-information" id="datepicker-end-information" title="" data-tooltip="Date through which disease severity values are accumulated">?</span>
    </div>
  </fieldset>
  <input type="button" class="button button-primary" id="change-params" value="Select" />
