<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <div id="loading-overlay" class="overlay">
      <div id="loading" class="message">
        <div>
          <ul class="loading-icon">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="loading-text">Please wait...</div>
        </div>
      </div>
    </div>
    <div id="error-overlay" class="overlay">
      <div id="error" class="message">
        <div>
          <div id="error-icon"></div>
          <div id="error-text"></div>
          <div id="error-button" class="button button-primary">Okay</div>
        </div>
      </div>
    </div>
    <div id="message-overlay" class="overlay">
      <div id="message" class="message">
        <%= image_tag 'close.png', class: 'close', id: 'message-overlay-close' %>
        <div id="message-overlay-inner">
        </div>
      </div>
    </div>
    <div id="right-sidebar">
      <div id="severity-legend">
      </div>
      <fieldset id="definitions">
        <legend>Terms</legend>
        <ul>
          <li id="disease-forecasting">Disease Forecasting <span id="disease-forecasting-information" class="more-information" title="" data-tooltip="A plant disease management system that uses computer-based models to collect field weather data and predict the onset and potential severity of crop diseases. Current and forecasted weather conditions determine the risk for disease, and prompts disease management decisions (preventative pesticide applications).">?</span></li>
          <li id="tomcast">TOMCAST <span id="tomcast-information" class="more-information" title="" data-tooltip="Disease forecasting model (adapted from a tomato disease model) used to predict the development of carrot foliar blights caused by Alternaria and Cercospora fungi, based on an accumulation of DSVs from past temperature and leaf wetness data combined with forecasted weather conditions.">?</span></li>
          <li id="blitecast">Blitecast <span id="blitecast-information" class="more-information" title="" data-tooltip="Disease forecasting model used to predict the development of late blight of potato/tomato caused by <i>Phytophthora infestans</i>, based on an accumulation of DSVs, which are generated from air temperature and relative humidity data.">?</span></li>
        </ul>
      </fieldset>
    </div>
    <div id="sidebar">
      <header>
        <hgroup>
          <a id="plantpath-logo" href="http://www.plantpath.wisc.edu/wivegdis/" target="_blank">UW-Madison Plant Pathology</a>
          <a id="vegento-logo" href="http://labs.russell.wisc.edu/vegento/" target="_blank">UW-Madison Vegetable Crop Entomology</a>
          <h1><span>Vegetable Disease &amp;</span><span>Insect Forecasting Network</span></h1>
        </hgroup>
      </header>
      <div id="options">
        <div class="inner">
          <fieldset id="crop">
            <legend>Crop:</legend>
            <div id="crop-select-wrapper">
              <select id="crop-select">
                <% @crops.each do |crop| %>
                  <option value="<%= crop.id %>"><%= crop.name %></option>
                <% end %>
              </select>
            </div>
          </fieldset>
          <fieldset id="infliction">
            <legend>Pest/Disease:</legend>

            <% @crops.each do |crop| %>
              <div id="select-<%= crop.id %>" class="select-wrapper infliction">
                <select class="infliction-select" id="pest-select-<%= crop.id %>">
                  <% crop.pests.each do |pest| %>
                    <option value="<%= pest.id %>"><%= pest.name %></option>
                  <% end %>
                </select>
                <span class="more-information" title="" id="infliction-select-information"  data-tooltip="this is info">?</span>
              </div>
              <% end %>
          </fieldset>
          <fieldset id="datepicker">
            <legend id="datepicker-legend">Dates:</legend>
            <div class="select-wrapper" id="datepicker-start-wrapper">
              <input type="text" class="datepicker" id="datepicker-start">
              <span class="more-information" id="datepicker-start-information" title='' data-tooltip="Date of Emergence/Last Fungicide Application">?</span>
            </div>
            <div class="to" id="datepicker-to">to</div>
            <div class="select-wrapper" id="datepicker-end-wrapper">
              <input type="text" class="datepicker" id="datepicker-end">
              <span class="more-information" id="datepicker-end-information" title="" data-tooltip="Date through which disease severity values are accumulated">?</span>
            </div>
          </fieldset>
          <input type="button" class="button button-primary" id="change-params" value="Select" />
        </div>
      </div>
      <footer>
        <div id="uw-group">
          <a id="uw-madison" href="http://www.wisc.edu" target="_blank">UW Madison</a>
          <a id="uw-extension" href="http://www.uwex.edu" target="_blank">UW Extension</a>
        </div>
        <div id="potato-field"></div>
      </footer>
    </div>
    <div id="google-map"></div>

    <script id="infowindow-tmpl" type="x-tmpl-mustache">
     <div class='iw-title'>
         Data Point Information
      </div>
      <div id="iw-content" class="message">
        <div id="loading">
          <ul class="loading-icon">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </script>
  </body>
</html>
