<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgVDIFN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="<%= Rails.configuration.relative_url_root %>/favicon.png">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-75G2W5HBHY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-75G2W5HBHY'); // AgWeather - GA4
  </script>
</head>
<body>
  <%= yield %>
</body>
</html>
