<!DOCTYPE html>
<html lang="en">
<head>
  <title>AgVDIFN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="<%= Rails.configuration.relative_url_root %>/favicon.png">
  <%= javascript_pack_tag "svelte" %>
  <%= stylesheet_pack_tag "svelte" %>
  <%= csrf_meta_tags %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX93CQC5RQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZX93CQC5RQ');
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
